body{background-image:url("images/wood.jpg");}

.resume {
 background-color: white;
 max-width: 960px;
 margin: 0 auto;
 padding: 50px;}

 .line {
   height: 2px;
   width: 90%;
   margin:10px 0px 30px 30px;
   background-color: black;
 }
.centerh{
  text-align: center;
}
.header {
	padding-bottom: 20px;
}
.header h1,aside {
	display: inline-block;
}
.header h1 {
	font-size: 32px;
	font-weight: bold;
}
.header aside {
	float: right;
}
.header aside a {
	display: block;
	text-decoration: none;
}
.header aside a:hover {
	display: block;
	text-decoration: underline;
}
.header aside a:active {
	display: block;
	text-decoration: underline;
	color: purple;
}
